
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header1 {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  text-align: left;
  font-size: calc(10px + 2vmin);
  width:100%;
}

.App-header2 {
  background-color: rgb(8,19,59);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width:100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
